.mymodal {
    position: fixed;
    top: 40%;
    left: 40%;
    background: rgb(244, 244, 249, .9);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height:fit-content;
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modalTitle {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    font-weight: bold;
  }

  .modalInput {
    border-radius: 15px;
    border: none;
    padding: 2%
  }

  .modalBtn {
    width: fit-content;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    font-size: smaller;
    color: rgb(244, 244, 249, .8);
    margin: 3%;
    border: none;
  }

