.containerCss {
  background: rgb(0, 0, 0, .9);
  color: rgb(244, 244, 249, .8);
  text-align: center;
  hyphens: auto;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  max-width: 90%;
  margin: 0 auto;
  padding: 1%;
}

p{
  font-size: x-large;
  max-width: 75%;
  margin: 0 auto;
  text-align: justify;
}

.btn {
  width: fit-content;
  background: rgb(244, 244, 249, .8);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(0, 0, 0, .9);
  margin: 1%;
}

.errorImg {
 max-width: 15%;
 margin: 1%;
}

.errorMsg {
  font-size: 50px;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  p {
    font-size: x-large;
    max-width: 80%;
  } 
}
@media only screen and (max-width: 975px) {
  p {
    font-size: x-large;
    max-width: 85%;
  }
}
@media only screen and (max-width: 700px) {
  p {
    font-size: large;
    max-width: 90%;
  }   
  .btn{
    zoom: 0;
  }
}
@media only screen and (max-width: 500px) {
  p {
    font-size: large;
    max-width: 90%;
  }  
  .btn{
    zoom: 0;
  }
}