.navModal {
    background: rgb(244, 244, 249, .9);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height:fit-content;
    width: fit-content;
    margin: 30% auto
  }
  
  .navOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .navModalTitle {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    font-weight: bold;
  }

  .modalInput {
    border-radius: 15px;
    border: none;
    padding: 2%
  }

  .navModalBtn {
    width: fit-content;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    font-size: smaller;
    color: rgb(244, 244, 249, .8);
    border: none;
  }

  .menuBtn {
    float: right;
    width: fit-content;
    background: rgb(244, 244, 249, .8);
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    color: rgb(0, 0, 0, .9);
  }

  .TOC {
    zoom: 2;
    margin: 0 auto;
  }