.jumbotron {
    background-image: url("./cityStreetMain.jpg");
    background-repeat: no-repeat;
    background-color: rgb(0,0,0);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    margin: 0 auto;
    color: rgb(244, 244, 249, .8);
}

.jtronTitle {
    font-size: 900% !important;
    text-align: center;
    margin: 0 auto;
    padding: 2%;
    font-weight: bolder;
    max-width: 95%;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .jumbotron {
        background-image: url("./cityStreetBreak1.jpg");
        height:400px;
    }
    .jtronTitle {
        font-size: 700% !important;
    }  
}
@media only screen and (max-width: 975px) {
    .jumbotron {
        background-image: url("./cityStreetBreak2.jpg");
        height:350px;
    }
    .jtronTitle {
        font-size: 600% !important;
    }  
}
@media only screen and (max-width: 700px) {
    .jumbotron {
        background-image: url("./cityStreetBreak3.jpg");
        height:300px;
        background-size: cover;
    }
    .jtronTitle {
        font-size: 450% !important;
    }  
}
@media only screen and (max-width: 500px) {
    .jumbotron {
        background-image: url("./cityStreetBreak4.jpg");
        background-size: cover;
        height:250px;   
    }
    .jtronTitle {
        font-size: 355% !important;
    }   
}