.containerCss {
    background: rgb(0, 0, 0, .9);
    color: rgb(244, 244, 249, .8);
    text-align: center;
}

.containerH1 {
    font-size: 30px;
    font-weight: bold;
}

.containerP{
    font-size: 20px;
    max-width: 30%;
    margin: 0 auto;
}